.homepage-root {
  width: 100%;
  height: 80vh;
  padding-top: 50px;
}

.homepage {
  margin: auto;
  padding: 15px;
  width: 32%;
  height: 73.4%;
  border: 1px solid black;
  border-radius: 20px;
}

.tabs {
  display: flex;
  width: 50%;
  padding-left: 20px;
  height: 50px;
  justify-content: space-around;
  font-size: 21px;
}

.tabs > .tab {
  width: 50%;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  color: rgb(129, 125, 125);
}

.tabs > .tab:hover {
  color: rgb(77, 240, 132);
}

.tabs > .activeTab {
  width: 50%;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  color: black;
}

.swap-root {
  height: 85%;
  padding: 10px 0px;
}

/* .swap-item{

} */
.swap-from-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 13.4px;
}

.trade-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trade-item select {
  height: 30px;
  width: 120px;
  border: none;
  outline: none;
}
/* input {
  width: 20px;
} */
