.homepage-root {
  width: 100%;
  height: 80vh;
  padding-top: 50px;
  color: rgb(77, 76, 76);
}

.homepage {
  margin: auto;
  padding: 5px 15px;
  width: 28%;
  height: 73.4%;
  border: 1px solid black;
  border-radius: 20px;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  height: 30px;
  margin-bottom: 10px;
}

.img-div {
  height: 100%;
  display: flex;
  place-items: flex-end;
}

.img-div > img {
  height: 20px;
  width: 20px;
}

.tabs {
  display: flex;
  width: 40%;
  justify-content: space-around;
  font-size: 15px;
}

.tabs > .tab {
  width: 50%;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  color: rgb(129, 125, 125);
}

.tabs > .tab:hover {
  color: rgb(77, 240, 132);
}

.tabs > .activeTab {
  width: 50%;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  color: black;
}

.swap-root {
  height: 81%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.swap-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32%;
  padding: 10px 10px;
  border-radius: 10px;
}
.swap-from-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 13.4px;
}

.swap-from-top > div:nth-child(2) {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.trade-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.trade-item input {
  height: 40px;
  width: 60px;
  border: 0;
  font-size: 24px;
  outline: none;
  background-color: transparent;
}

.swap-item:nth-child(1) {
  background-color: rgb(211, 253, 225);
}
.swap-item:nth-child(2) {
  background-color: rgb(211, 234, 253);
}

.token-img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-left: 5px;
}

.token {
  display: flex;
  width: 120px;
  place-items: center;
}

.swap-root button {
  height: 40px;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  border: none;
  outline: none;
  background-color: rgb(211, 253, 225);
}
